---
title: "Conrad Cole"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: /images/cover_photo_2.jpg
  cta_label: "About"
  cta_url: "/aboutme/"
excerpt: "MAE Ph.D. candidate at the University of Florida"
intro:
  - excerpt: '"Cogito Ergo Sum"'
feature_row:
  - image_path: /images/research.jpg
    title: "Research"
    # excerpt: "My research projects"
    btn_label: "Learn more"
    btn_class: "btn--primary"
    url: "/research/"
  - image_path: /images/present_pubs.jpg
    title: "Publications and Presentations"
    # excerpt: "Dissemenation of my work"
    btn_label: "Check it out"
    btn_class: "btn--primary"
    url: "/present_pubs/"
  - image_path: /images/CV.jpg
    title: "Curriculum Vitae"
    # excerpt: "My CV"
    btn_label: "View CV"
    btn_class: "btn--primary"
    url: "/documents/Conrad_Cole_CV.pdf"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
