---
title: "Conrad Cole"
layout: splash
header:
  overlay_color: "#ff4500"
  overlay_filter: "0.01"
  overlay_image: /images/freetown.jpg
  cta_label: "About"
  cta_url: "/aboutme/"
excerpt: "Solar Fuels | Energy Storage | Data Engineering | Quantitative Finance"
intro:
  - excerpt: '"To God be the glory. Psalm 37."'
feature_row:
  - image_path: /images/research.jpg
    title: "Research"
    # excerpt: "My research projects"
    btn_label: "Learn More"
    btn_class: "btn--primary"
    url: "/research/"
  - image_path: /images/present_pubs.jpg
    title: "Publications and Presentations"
    # excerpt: "Dissemenation of my work"
    btn_label: "Check it out"
    btn_class: "btn--primary"
    url: "/present_pubs/"
  - image_path: /images/CV.jpg
    title: "Curriculum Vitae"
    # excerpt: "My CV"
    btn_label: "View CV"
    btn_class: "btn--primary"
    url: "/documents/Conrad_Cole_CV.pdf"
  - image_path: /images/AABE_GC_Logo_Alt.jpg
    title: "Professional Organizations"
    # excerpt: "Giving back and developing as a professional"
    btn_label: "My affiliations and interests"
    btn_class: "btn--primary"
    url: "/volunteering/"
  - image_path: /images/RE trans back-100.jpg
    title: "Solar Energy Consulting"
    # excerpt: "Radical Energetics"
    btn_label: "Invest and Go Green!"
    btn_class: "btn--primary"
    url: "/consulting/"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
